<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./home-page.component.scss" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya Sans:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="home-page">
    		<div class="home-page-child">
    		</div>
    		<img class="logo-up-icon" alt="" src="./assets/img/logo-up.png">
    		
    		<div class="home-page-item">
    		</div>
    		<b class="home">Home</b>
    		<div class="home-page-inner">
    		</div>
    		<div class="home-page-inner">
    		</div>
    		<div class="home-page-child1">
    		</div>
    		<b class="tv-shows">Series</b>
    		<b class="movie">Filmes</b>
    		<b class="watch-list">Sua Lista</b>
    		<img class="search-icon" alt="" src="./assets/svg/search-icon.svg">
    		
    		<img class="main-image-icon" alt="" src="./assets/img/main-image.jpg">
    		
    		<div class="ellipse-div">
    		</div>
    		<div class="home-page-child2">
    		</div>
    		<div class="home-page-child3">
    		</div>
    		<div class="home-page-child4">
    		</div>
    		<div class="home-page-child5">
    		</div>
    		<img class="prev-main-icon" alt="" src="./assets/svg/prev-main-icon.svg">
    		
    		<img class="next-main-icon" alt="" src="./assets/svg/next-main-icon.svg">
    		
    		<div class="title">
      			<b>Title</b>
      			<b class="b"> </b>
    		</div>
    		<div class="subtitle">
      			<b>subtitle</b>
      			<b class="b"> </b>
    		</div>
    		<b class="description-lorem-ipsum">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </b>
    		<div class="home-page-child6">
    		</div>
    		<div class="frame">
    		</div>
    		<b class="assistir">Informações</b>
    		<img class="info-icon" alt="" src="./assets/svg/info-icon.svg">
    		
    		<b class="type-title">Type Title</b>
    		<img class="logo-in-icon" alt="" src="./assets/img/logo-in.png">
    		
    		<img class="logo-in-icon1" alt="" src="./assets/img/logo-in.png">
    		
    		<img class="logo-in-icon2" alt="" src="./assets/img/logo-in.png">
    		
    		<img class="logo-in-icon3" alt="" src="./assets/img/logo-in.png">
    		
    		<img class="next-icon" alt="" src="./assets/svg/next-icon.svg">
    		
    		<img class="prev-icon" alt="" src="./assets/svg/prev-icon.svg">
    		
    		<!-- <img class="play-icon" alt="" src="./assets/svg/play-icon.svg"> -->
    		
    		<img class="profile-icon" alt="" src="./assets/svg/profile-icon.svg">
    		
    		<b class="title1">Title</b>
    		<b class="title2">Title</b>
    		<b class="title3">Title</b>
    		<b class="title4">Title</b>
  	</div>
  	
  	
  	
  	
</body>
</html>